body {
  margin: 0;
  background-image:url('images/PlanetBlitz.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.btn {
  position: absolute;
  left: 400px;
  width: 200px;
  height: 50px;
}

p {
  text-align: center;
  font-size: 30;
}

#debugBtn {
  top: 100px;
}

#playBtn {
  top: 200px;
}

#playBtn2 {
  top: 300px;
}

#helpBtn {
  top: 400px;
}

#Stats-output {
}


#WebGL-output {
}

#Loading-output-container {
  position: absolute;
  left: 300px;
  width: 200px;
  top: 260px;
  top: 180px;
}

#Loading-output {
  
}

.span, .span_large{
  background-color: rgba(0,0,0, 0.02);
  vertical-align: middle;
  border-radius: 1px;
  margin-right: 100px;
  position: absolute;
  left: 300px;
  width: 200px;
  top: 250px;
  display: none;
}

.cloud {
  margin: 42px 30px;
  width: 4px;
  height: 10px;
  opacity: 0.5;
  position: relative;
  box-shadow: 6px 0px 0px 0px rgba(255,255,255,1),
              12px 0px 0px 0px rgba(255,255,255,1),
              18px 0px 0px 0px rgba(255,255,255,1),
              24px 0px 0px 0px rgba(255,255,255,1),
              30px 0px 0px 0px rgba(255,255,255,1),
              36px 0px 0px 0px rgba(255,255,255,1);
  
  -webkit-animation: rain 1s linear infinite alternate;
     -moz-animation: rain 1s linear infinite alternate;
          animation: rain 1s linear infinite alternate;
}

.cloud:after {
  width: 40px;
  height: 10px;
  position: absolute;
  content: "";
  background-color: rgba(255,255,255,1);
  top: 0px;
  opacity: 1;
  -webkit-animation: line_flow 2s linear infinite reverse;
     -moz-animation: line_flow 2s linear infinite reverse;
          animation: line_flow 2s linear infinite reverse;
}

@-webkit-keyframes rain{
  0%{
   box-shadow: 6px 0px 0px 0px rgba(255,255,255,1),
              12px 0px 0px 0px rgba(255,255,255,0.9),
              18px 0px 0px 0px rgba(255,255,255,0.7),
              24px 0px 0px 0px rgba(255,255,255,0.6),
              30px 0px 0px 0px rgba(255,255,255,0.3),
              36px 0px 0px 0px rgba(255,255,255,0.2);
  }
  100%{
  box-shadow: 6px 0px 0px 0px rgba(255,255,255,0.2),
              12px 0px 0px 0px rgba(255,255,255,0.3),
              18px 0px 0px 0px rgba(255,255,255,0.6),
              24px 0px 0px 0px rgba(255,255,255,0.7),
              30px 0px 0px 0px rgba(255,255,255,0.9),
              36px 0px 0px 0px rgba(255,255,255,1);
      opacity: 1;
  }
}
@-moz-keyframes rain{
  0%{
   box-shadow: 6px 0px 0px 0px rgba(255,255,255,1),
              12px 0px 0px 0px rgba(255,255,255,0.9),
              18px 0px 0px 0px rgba(255,255,255,0.7),
              24px 0px 0px 0px rgba(255,255,255,0.6),
              30px 0px 0px 0px rgba(255,255,255,0.3),
              36px 0px 0px 0px rgba(255,255,255,0.2);
  }
  100%{
  box-shadow: 6px 0px 0px 0px rgba(255,255,255,0.2),
              12px 0px 0px 0px rgba(255,255,255,0.3),
              18px 0px 0px 0px rgba(255,255,255,0.6),
              24px 0px 0px 0px rgba(255,255,255,0.7),
              30px 0px 0px 0px rgba(255,255,255,0.9),
              36px 0px 0px 0px rgba(255,255,255,1);
      opacity: 1;
  }
}
@keyframes rain{
  0%{
   box-shadow: 6px 0px 0px 0px rgba(255,255,255,1),
              12px 0px 0px 0px rgba(255,255,255,0.9),
              18px 0px 0px 0px rgba(255,255,255,0.7),
              24px 0px 0px 0px rgba(255,255,255,0.6),
              30px 0px 0px 0px rgba(255,255,255,0.3),
              36px 0px 0px 0px rgba(255,255,255,0.2);
  }
  100%{
  box-shadow: 6px 0px 0px 0px rgba(255,255,255,0.2),
              12px 0px 0px 0px rgba(255,255,255,0.3),
              18px 0px 0px 0px rgba(255,255,255,0.6),
              24px 0px 0px 0px rgba(255,255,255,0.7),
              30px 0px 0px 0px rgba(255,255,255,0.9),
              36px 0px 0px 0px rgba(255,255,255,1);
      opacity: 1;
  }
}

@-webkit-keyframes line_flow{
  0%{ width: 0px;}
  100%{width: 40px;}
}
@-moz-keyframes line_flow{
  0%{ width: 0px;}
  100%{width: 40px;}
}
@keyframes line_flow{
  0%{ width: 0px;}
  100%{width: 40px;}
}

