doctype html
html
    head
    title ccam
    link(rel='stylesheet', href='style.css')
    script(src='libs/three.js')
    script(src='libs/jquery-1.9.0.js')
    script(src='libs/stats.js')
    script(src='libs/dat.gui.js')
    script(src='libs/MapControls.js')
    script(src='libs/TrackballControls.js')
    script(src='libs/class.js')
    script(src='libs/tween.min.js')

    script(src='Grid.js')
    script(src='Character.js')
    script(src='Game.js')

    body
        div#Stats-output
        div#WebGL-output
