doctype html
html
	head
		title Planet Blitz
		link(rel='stylesheet', href='style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src="/socket.io/socket.io.js")
	body
		div.container
			iframe(src='game.html' frameborder='1')#game
