<html>
  <head>
    <link rel='stylesheet' type='text/css' href='game.css'>

    <script type="text/javascript" src="jquery-1.9.0.js"></script>
    <script type="text/javascript" src="jquery.caret.js"></script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="three.js"></script>
    <script type="text/javascript" src="stats.js"></script>
    <script type="text/javascript" src="dat.gui.min.js"></script>
    <script type="text/javascript" src="GameConsole.js"></script>


    <!-- Utility libraries -->
    <script type="text/javascript" src="class.js"></script>
    <script type="text/javascript" src="tween.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script type="text/javascript" src="pathfinding-browser.js"></script>

    <!-- Includes for controls -->
    <script type="text/javascript" src="pointerlock.js"></script>
    <script type="text/javascript" src="keyboard.js"></script>
    <script type="text/javascript" src="MapControls.js"></script>

    <!-- Game core -->
    <script type="text/javascript" src="Constants.js"></script>

    <script type="text/javascript" src="Character.js"></script>
    <script type="text/javascript" src="Grid.js"></script>
    <script type="text/javascript" src="Game.js"></script>
    <script type="text/javascript" src="GridCell.js"></script>
    <script type="text/javascript" src="Bullet.js"></script>

    <!-- Networking -->
    <script type="text/javascript" src="netstate.js"></script>
    <script type="text/javascript" src="connect.js"></script>
    <!-- WARNING: server.js manipulates the CSS, so it should be the last one to be included. 
    If it is included before MapControls, the mouse will freeze. -->
    <script type="text/javascript" src="server.js"></script>

    <script id="vertexShader" type="x-shader/x-vertex">
    uniform vec3 viewVector;
    uniform float c;
    uniform float p;
    varying float intensity;
    void main() 
    {
        vec3 vNormal = normalize( normalMatrix * normal );
        vec3 vNormel = normalize( normalMatrix * viewVector );
        intensity = pow( c - dot(vNormal, vNormel), p );
        
        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }
    </script>

    <!-- fragment shader a.k.a. pixel shader -->
    <script id="fragmentShader" type="x-shader/x-vertex"> 
    uniform vec3 glowColor;
    varying float intensity;
    void main() 
    {
        vec3 glow = glowColor * intensity;
        gl_FragColor = vec4( glow, 1.0 );
    }
    </script>

  </head>

  <body>
    <button class='btn' id='debugBtn'>Single Mode</button>
    <button class='btn' id='playBtn'>Network Mode (2 Players)</button>
    <button class='btn' id='playBtn2'>Network Mode (4 Players)</button>
    <button class='btn' id='helpBtn'>Help</button>
    <div id="Stats-output">
    </div>
    <!-- Div which will hold the Output -->
    <div id="WebGL-output">
    </div>
    <div class='span'>
      <div class='cloud'>
      </div>
    </div>
  </body>
</html>
