<html>
  <head>
    <!-- Jquery and JQuery UI -->
   
    <script type="text/javascript" src="jquery-1.9.0.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>

    <!-- Why the 1.9.0 jquery doesn't have the property 'mozilla'? -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <!-- Tutorial jquery slide css-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="demo.css" />
    <link rel='stylesheet' type='text/css' href='game.css'>
    
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="howler.min.js"></script>

    <script type="text/javascript" src="pubsub.js"></script>

    <script type="text/javascript" src="three.js"></script>
    <script type="text/javascript" src="stats.js"></script>
    <script type="text/javascript" src="dat.gui.min.js"></script>
    <script type="text/javascript" src="tween.min.js"></script>

    <script type="text/javascript" src="ParticleEngine.js"></script>

    <script type="text/javascript" src="GameConsole.js"></script>
    <script type="text/javascript" src="ScoreBoard.js"></script>

    <!-- Utility libraries -->
    <script type="text/javascript" src="class.js"></script>
    <script type="text/javascript" src="pathfinding-browser.js"></script>

    <!-- Includes for controls -->
    <script type="text/javascript" src="pointerlock.js"></script>
    <script type="text/javascript" src="keyboard.js"></script>
    <script type="text/javascript" src="MapControls.js"></script>

    <!-- Game core; must be included in order of dependencies. Base classes first. -->
    <script type="text/javascript" src="util/SpriteCmd.js"></script>
    <script type="text/javascript" src="util/Dispatcher.js"></script>

    <!-- Update strategies -->
    <script type="text/javascript" src="updateStrategies/MultiUpdateStrategy.js"></script>
    <script type="text/javascript" src="updateStrategies/StraightLineMoveStrategy.js"></script>
    <script type="text/javascript" src="updateStrategies/RotationUpdateStrategy.js"></script>
    <script type="text/javascript" src="updateStrategies/ExpireUpdateStrategy.js"></script>


    <!-- Interaction strategies -->
    <script type="text/javascript" src="interactStrategies/InteractStrategy.js"></script>
    <script type="text/javascript" src="interactStrategies/ApplyDamageStrategy.js"></script>

    <!-- Shoot strategies -->
    <script type="text/javascript" src="shootStrategies/ShootStrategy.js"></script>
    <script type="text/javascript" src="shootStrategies/PelletShootStrategy.js"></script>


    <script type="text/javascript" src="Sprite.js"></script>

    <script type="text/javascript" src="Constants.js"></script>

    <script type="text/javascript" src="GridHelper.js"></script>
    <script type="text/javascript" src="AmmoBar.js"></script>
    <script type="text/javascript" src="HealthBar.js"></script>
    <script type="text/javascript" src="CooldownBar.js"></script>

    <script type="text/javascript" src="Character.js"></script>
    <script type="text/javascript" src="Grid.js"></script>
    <script type="text/javascript" src="Obstacle.js"></script>
    <script type="text/javascript" src="Game.js"></script>
    <script type="text/javascript" src="GridCell.js"></script>
    <script type="text/javascript" src="Bullet.js"></script>

    <script type="text/javascript" src="SpriteFactory.js"></script>



    <!-- jmpress plugin -->
    <script type="text/javascript" src="jmpress.min.js"></script>
    <!-- jmslideshow plugin : extends the jmpress plugin -->
    <script type="text/javascript" src="jquery.jmslideshow.js"></script>
    <script type="text/javascript" src="modernizr.custom.48780.js"></script>

    <!-- Networking -->
    <script type="text/javascript" src="netstate.js"></script>
    <script type="text/javascript" src="connect.js"></script>
    <!-- WARNING: server.js manipulates the CSS, so it should be the last one to be included. 
    If it is included before MapControls, the mouse will freeze. -->
    <script type="text/javascript" src="server.js"></script>

    <script id="vertexShader" type="x-shader/x-vertex">
    uniform vec3 viewVector;
    uniform float c;
    uniform float p;
    varying float intensity;
    void main() 
    {
        vec3 vNormal = normalize( normalMatrix * normal );
        vec3 vNormel = normalize( normalMatrix * viewVector );
        intensity = pow( c - dot(vNormal, vNormel), p );
        
        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }
    </script>

    <!-- fragment shader a.k.a. pixel shader -->
    <script id="fragmentShader" type="x-shader/x-vertex"> 
    uniform vec3 glowColor;
    varying float intensity;
    void main() 
    {
        vec3 glow = glowColor * intensity;
        gl_FragColor = vec4( glow, 1.0 );
    }
    </script>

        <noscript>
            <style>
            .step {
                width: 100%;
                position: relative;
            }
            .step:not(.active) {
                opacity: 1;
                filter: alpha(opacity=99);
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
            }
            .step:not(.active) a.jms-link{
                opacity: 1;
                margin-top: 40px;
            }
            </style>
        </noscript>

  </head>

  <body>
    <button class='btn' id='debugBtn'>Single Mode</button>
    <button class='btn' id='playBtn'>Network Mode</button>
    <button class='btn' id='helpBtn'>Help</button>
    <button class='btn jms-link' id='leaveBtn'>Main Menu</button>
    <div class="container" id="slide-container">
        
            <section id="jms-slideshow" class="jms-slideshow">
                <div class="step" data-color="color-1" id="step-first">
                    <div class="jms-content">
                        <h3>Planet Blitz</h3>
                        <p>• Death Match - get the most kills!</p>
                        <p>• Each player controls 3 robots</p>
                        <p>• Scoreboard is at the top right corner</p>
                        <button class="jms-link">Main Menu</button>
                    </div>
                    <img src="images/1.png" />

                </div>
                <div class="step" data-color="color-2" data-y="500" data-scale="0.4" data-rotate-x="30">
                    <div class="jms-content">
                        <h3>Your robots</h3>
                        <p>• Red line above robot is the health</p>
                        <p>• Click on the robot to see how far the robot can move</p>
                        <p>• 1, 2, 3 keys provide fast switching between robots</p>
                        <button class="jms-link">Main Menu</button>
                    </div>
                    <img src="images/2.png" />
                </div>
                <div class="step" data-color="color-3" data-x="2000" data-z="3000" data-rotate="170">
                    <div class="jms-content">
                        <h3>Moving robots</h3>
                        <p>• To move a robot, click on any green cell after selecting the robot</p>
                        <br/>
                        <p>• The green line above the robot is the movement cooldown.</p>
                        <button class="jms-link">Main Menu</button>
                    </div>
                    <img src="images/3.png" />
                </div>
                <div class="step" data-color="color-4" data-x="3000">
                    <div class="jms-content">
                        <h3>Shooting</h3>
                        <p>• To shoot, right click in the direction you want to fire at</p>
                        <br/>
                        <p>• The blue line above the robot indicates the shooting cooldown</p>
                        <button class="jms-link">Main Menu</button>
                    </div>
                    <img src="images/4.png" />
                </div>
                <div class="step" data-color="color-5" data-x="4500" data-z="1000" data-rotate-y="45">
                    <div class="jms-content">
                        <h3>Camera Navigation</h3>
                        <p>• Pan around by moving your cursor to the edges of the screen </p>
                        <p>• Zoom in and out by scrolling down or up </P>
                        <p>• Rotate your view by pressing 'q' for clockwise and 'e' for counter-clockwise rotation</p>
                        <button class="jms-link">Main Menu</button>
                    </div>
                    <img src="images/5.png" />
                </div>
            </section>  
        </div>
    <div id="Stats-output">
    </div>
    <!-- Div which will hold the Output -->
    <div id="WebGL-output">
    </div>
    <div id="Message-dialog" title="Game Statistics"></div>
    <div id="Input-dialog" title="Player name"></div>
    <div id="Loading-output-container"><p id="Loading-output"></p></div>
    <div class='span'>
      <div class='cloud'>
      </div>
    </div>
  </body>
</html>
